name: Destroy Terraform to AWS

on:
  workflow_dispatch: # Allows manual triggering from GitHub Actions UI

jobs:
  terraform:
    name: Terraform Destroy
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.0 # Or your preferred version

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # Or your AWS region

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan - Destroy
        run: terraform plan -destroy -out=tfplan-destroy

      - name: Terraform Apply - Destroy
        run: terraform apply -auto-approve tfplan-destroy